header
    div(id = "heading")
        img(src='images/348.png' id='sky' alt='js logo')
        img(src='images/Cloud.png' id='clouds' alt='js logo')
        img(src='images/386.png' id='logo' alt='js logo')
        img(src='images/Mountain.png' id='mountains' alt='js logo')
        img(src='images/351.png' id='beach' alt='js logo')
        img(src='images/373.png' id='kids' alt='js logo')
        img(src='images/Birds.png' id='bird' alt='js logo')
        img(src='images/Tree.png' id='tree' alt='js logo')
        img(src='images/372.png' id='manLeft' alt='js logo')
        img(src='images/371.png' id='manRight' alt='js logo')
        img(src='images/374.png' id='scuba' alt='js logo')
        img(src='images/beach-house.png' id='house' alt='js logo')

    div(id= "hero-banner")
        img.img-hero(src='images/hero-banner.png' alt='js logo')

    script(src='javascripts/index.js')



