doctype html
html(lang="en")
  include includes/head.pug
  body
    //- Navigation
  include includes/header.pug
  include includes/cards.pug

    //- Page Content

    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
